.main_header {
    width: 100%;
    background-color: #2D3142;
}

.main_header .content {
    display: flex;
}

.main_header .logo {
    flex-basis: 330px;
    padding: 20px;
    width: 200px;
}

.main_header .main_header_menu {
    flex-basis: calc(100% - 330px);
    display: flex;
    justify-content: flex-end;
}

.main_header_menu ul {
    display: flex;
    align-items: stretch;
}

.main_header_menu ul li {
    list-style: none;
    display: flex;
    align-items: center;
}

.main_header_menu ul li a {
    padding: 0 26px;
    display: flex;
    align-items: center;
    height: 100%;
    color: #d36833;
}

.main_header_menu ul li a:hover {
    color: #fff;
    background-color: #d36833;
}

.main_cta {
    width: 100%;
    background-image: url('../img/bg_main_home.png');
    background-color: #2D3142;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.main_cta h1 {
    color: #fff;
    font-size: 3em;
    font-weight: 700;
    text-align: center;
}

.main_cta p {
    color: #fff;
    font-size: 1.875em;
    font-weight: 300;
    text-align: center;
    margin: 20px 0;
}

.main_cta .btn {
    background-color: #d36833;
    color: #fff;
    font-size: 0.8em;
    padding: 10px 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.main_cta .main_cta_spacer {
    margin: 0 auto;
    max-width: 1300px;
    padding: 150px 40px;
}