/* MAIN HEADER */
.main_header {
    width: 100%;
    background-color: #2D3142;
}

.main_header .content {
    display: flex;
}

.main_header .logo {
    flex-basis: 330px;
    padding: 20px;
    width: 200px;
}

.main_header .main_header_menu {
    flex-basis: calc(100% - 330px);
    display: flex;
    justify-content: flex-end;
}

.main_header_menu ul {
    display: flex;
    align-items: stretch;
}

.main_header_menu ul li {
    list-style: none;
    display: flex;
    align-items: center;
}

.main_header_menu ul li a {
    padding: 0 26px;
    display: flex;
    align-items: center;
    height: 100%;
    color: #d36833;
}

.main_header_menu ul li a:hover {
    color: #fff;
    background-color: #d36833;
}

/* MAIN CTA */
.main_cta {
    width: 100%;
    background-image: url('../img/bg_main_home.png');
    background-color: #2D3142;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.main_cta h1 {
    color: #fff;
    font-size: 3em;
    font-weight: 700;
    text-align: center;
}

.main_cta p {
    color: #fff;
    font-size: 1.875em;
    font-weight: 300;
    text-align: center;
    margin: 20px 0;
}

.main_cta .btn {
    background-color: #d36833;
    color: #fff;
    font-size: 0.8em;
    padding: 10px 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.main_cta .main_cta_spacer {
    margin: 0 auto;
    max-width: 1300px;
    padding: 150px 40px;
}

/* MAIN BLOG */
.main_blog {
    width: calc(1330px - 40px);
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main_blog .main_blog_header {
    flex-basis: 100%;
    margin: 30px 0;
}

.main_blog .main_blog_header h1 {
    color: #333;
    margin-bottom: 5px;
    font-size: 1.8em;
}

.main_blog article {
    opacity: 0.8;
    flex-basis: calc(25% - 20px);
    margin-bottom: 30px;
}

.main_blog article:hover {
    opacity: 1;
}

.main_blog article img {
    width: 100%;
}

.main_blog article p {
    margin: 10px 0;
}

.main_blog article .category {
    font-size: 0.875em;
    color: #d36833;
}

.main_blog article h2 {
    font-weight: 300;
    color: #333;
    font-size: 1.2em;
}

.main_blog article h2 a {
    color: #333;    
}

/* MAIN OPTIN */
.main_optin {
    width: 100%;
    background-color: #2D3142;
    margin: 40px 0;
}

.main_optin .content {
    max-width: calc(1300px - 40px);
    padding: 40px 20px;
    display: flex;
}

.main_optin header, .main_optin form {
    flex-basis: 50%;
}

/* header */
.main_optin header h1, .main_optin header p {
    color: #fff;
    margin-right: 20px;
    text-align: right;
}

.main_optin header h1 {
    font-size: 1.4em;
    font-weight: 400;
}

.main_optin header p {
    font-size: 0.875em;
    font-weight: 300;
}

/* form */
.main_optin form {
    display: flex;
    justify-content: space-between;
}

.main_optin form input[type=text], .main_optin form input[type=email] {
    flex-basis: 37%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: none;
    padding: 5px 20px;
}

.main_optin form button {
    flex-basis: 20%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #fff;
    background-color: #d36833;
    border: none;
    padding: 10px 20px;
    font-size: 0.7em;
}

/* MAIN CURSE */
.main_curse {
    width: 100%;
}

.main_curse .main_curse_header {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    color: #333;
    margin-bottom: 40px;
}

.main_curse .main_curse_header img {
    margin-bottom: 20px;
}

.main_curse .main_curse_header h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.main_curse .main_curse_header p {
    font-size: 1.3em;
}

.main_curse_content {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;
    display: flex;
}

.main_curse_content article {
    flex-basis: calc(50% - 40px);
    margin: 20px 0;
    background-color: #EBEBEB;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 20px;
}

.main_curse_content article h2 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 4px;
}

.main_curse_content article p {
    font-size: 0.9em;
    color: #333;
    margin-bottom: 4px;
}

.main_curse_rating {
    width: 100%;
    background-color: #d36833;
    padding: 40px 0;
}

.main_curse_rating_title {
    text-align: center;
    color: #fff;
}

.main_curse_rating_title h2 {
    font-size: 2.3em;
    margin-bottom: 20px;
}

.main_curse_rating_comment {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main_curse_rating_comment > header {
    font-size: 1.8em;
    flex-basis: 100%;
    color: #fff;
    text-align: center;
    margin: 20px 0;
}

.main_curse_rating_comment > article {
    flex-basis: calc(50% - 20px);
    margin: 20px 0;
    background-color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 20px;
    color: #333;
}

.main_curse_rating_comment > article h3 {
    font-size: 1.2em;
    margin-bottom: 4px;
}

.main_curse_rating_comment > article img {
    width: 15px;
    margin: 5px 0 2px 0;
}

/* MAIN SCHOOL */
.main_school {
    width: 100%;
}

.main_school_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main_school_header {
    flex-basis: 100%;
    padding: 40px 0;
    color: #333;
}

.main_school_header h1 {
    font-size: 2.2em;
    margin-bottom: 10px;
}

/* LEFT CONTENT */
.main_school_content_left {
    flex-basis: calc(70% - 20px);
}

.main_school_left_content > header > p {
    padding: 10px;
    background-color: #2D3142;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #fff;
    margin-bottom: 20px;
}

.main_school_left_content > header > p span {
    margin-left: 20px;
}

.main_school_left_content > header > p a {
    color: #fff;
    font-size: 0.9em;
}

.main_school_left_content > header > p a:hover {
    text-decoration: underline;
}

.main_school_left_content > header > h2 {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.main_school_left_content > p {
    margin-bottom: 20px;
}

.main_school_list {
    width: 100%;
    background-color: #EBEBEB;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main_school_list > header {
    flex-basis: 100%;
    color: #d36833;
    margin-bottom: 20px;
}

.main_school_list > article {
    flex-basis: calc(50% - 10px);
    margin: 4px 0;
}

.main_school_list > article h3 {
    font-weight: 300;
}

/* RIGHT CONTENT */
.main_school_content_right {
    flex-basis: 30%;
}

.main_school_content_right img {
    width: 100%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

/* ADDRESS */
.main_school_address {
    flex-basis: 100%;
    padding: 40px 0;
    text-align: center;
}

.main_school_address h2 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

/* MAIN TUTOR */
.main_tutor {
    width: 100%;
    background-color: #2D3142;
}

.main_tutor_content {
    max-width: calc(1300px - 80px);
    padding: 40px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}

.main_tutor_content > header h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.main_tutor_content_img {
    margin: 20px auto;
}

.main_tutor_content_img img {
    max-width: 200px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    padding: 3px;
    background-color: #fff;
}

.main_tutor_content_history h2 {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.main_tutor_content_history p {
    margin-bottom: 20px;
    font-size: 0.950em;
}

.main_tutor_content_network {
    max-width: 800px;
    padding: 20px;
    background-color: #d36833;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.main_tutor_content_network > header {
    flex-basis: 100%;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.main_tutor_content_network > article {
    flex-basis: 24%;
}

.main_tutor_content_network > article h3 {
    font-size: 0.9em;
    margin-bottom: 10px;
}

.main_tutor_content_network > article h3 a {
    background-color: #fff;
    color: #d36833;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px 20px;
}

.main_tutor_content_network > article h3 a:hover {
    background-color: #2D3142;
    color: #fff;
}

/* MAIN OPTIN FOOTER */
.main_optin_footer {
    width: 100%;
    background-color: #F7F7F7;
}

.main_optin_footer .content {
    padding: 40px 0;
    text-align: center;
    color: #333;
}

.main_optin_footer h1 {
    font-size: 1.4em;
    margin-bottom: 40px;
}

.main_optin_footer .btn {
    color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #d36833;
    font-size: 1.2em;
    padding: 10px 20px;
}

/* MAIN FOOTER */
.main_footer {
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #333;
}

.main_footer > header {
    flex-basis: 100%;
}

.main_footer > header h1 {
    font-size: 1.4em;
    margin-bottom: 40px;
}

.main_footer_our_pages, .main_footer_links {
    flex-basis: 25%;
}

.main_footer_about {
    flex-basis: 50%;
}

.main_footer > article h2 {
    margin-bottom: 20px;
}

.main_footer > article ul li {
    list-style: none;
    margin: 3px 0;
}

.main_footer > article ul li a {
    color: #333;
}

.main_footer > article ul li a:hover {
    text-decoration: underline;
}

.main_footer_rights {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: #F7F7F7;
    border-top: 1px solid #EBEBEB;
    font-size: 0.9em;
    color: #666;
    font-weight: 300;
}